# =============================================================================
# ms-auditoria | .dockerignore
# =============================================================================
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
.env
.env.development
.env.testing
.git/
.gitignore
.pytest_cache/
.mypy_cache/
tests/
test.db
alembic_gen.db
*.md
*.log
.vscode/
.idea/
